{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatGPT | AivleGPT</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "css/nav.css" %}">
  </head>
  <body>
        <!-- Navbar 시작 -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid justify-content-between">
              <a class="navbar-brand" href="{% url "ChatSystem:nav" %}">ChatBot System</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'ChatSystem:user_info' %}">내 정보</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'ChatSystem:aivle_chat' %}">Aivle QnA</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'ChatSystem:chat' %}">ChatGPT</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'ChatSystem:logout' %}">로그아웃</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <!-- Navbar 끝 -->
    <a href="{% url "ChatSystem:chat" %}">
    <div class="container">
      <div class="box">
        <img
          src="https://img4.yna.co.kr/etc/inner/KR/2023/01/30/AKR20230130074900017_01_i_P4.jpg"
        />
        <div class="text">ChatGPT</div>
      </div>
    </a>
    <a href="{% url "ChatSystem:aivle_chat" %}">
      <div class="box1">
        <img
          src="https://velog.velcdn.com/images/jetech_dev1/post/3a20acd6-e911-4b2e-b11c-370c155dd184/image.png"
        />
        <div class="text1">AivleChat</div>
      </div>
    </div>
  </a>
  </body>
</html>